@media screen and (min-width: 480px) {
	body {
		;
	}
	header ul{
		width: 100%;
	}
#search_buttons{
		margin-top: 100%;
		margin-left: 100%;
		margin-right: 100%;
		border:none;
		font-size: 0.6rem;
	}
}

@media screen and (min-width: 680px) {
	body {
		;

	}
}